<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>


    <body>

        <br>
        <br>
        <br>
        <h2>ALPHA</h2>
        <br>

        https://osu.ppy.sh/beatmapsets/2442559#taiko/5330548
        <a href = "https://osu.ppy.sh/beatmapsets/2442559#taiko/5330548">
            Fortuna Edge [Kantan]
        </a>
        Requirements: +90% FC
        
        <a href = "https://drive.google.com/file/d/18EbokA2qqsUVP0moshrzYxncv9RzDgPF/view?usp=sharing">
            Despre Tine [Futsuu]
        </a>

        Requirements: +90% FC.

        <a href = "https://osu.ppy.sh/beatmapsets/2041850#taiko/4298964">
            Reach for the Moon, Immortal Smoke [Futsuu]
        </a>

        Requirements: +90% FC.
        
    </body>
</html>