<!DOCTYPE html>
<html lang="en">

    <head>
        
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund+Guides&display=swap" rel="stylesheet">

    </head>


    <body>

        <br>
        <br>
        <br>

        <div style="text-align: center; justify-content: center; align-items: center;">
            <h2 style = "font-size: 72px;" style="text-align: center; justify-content: center; align-items: center;">ALPHA</h2>

            <br>

            <h4 class = "playwrite-de-grund-guides-regular"><i>____Alpha__1____</i></h4>
            <div class="two_columns_centered">
                    <div>
                        <a><img style = "height:36.25vh; justify-self: center;" src = "{{url_for('static', filename='dans/new_world_bg.jpg')}}"></a>
                    </div>

                    <div>
                        <a><img style = "height:36.25vh; justify-self: center;" src = "{{url_for('static', filename='dans/new_world_info.png')}}"></a>
                    </div>
                </div>
            <a href = "https://drive.google.com/file/d/1lapqN73gmz_IAoC8xxcGYKtTKAkshsSF/view?usp=sharing">
                New World [NOOB's Futsuu]
            </a>

            <br>

            Requirements: +90% FC.
            
            <br>
            <br>
            <br>
            <br>
            <br>

            <h4 class = "playwrite-de-grund-guides-regular"><i>____Alpha__2____</i></h4>
            <div class="two_columns_centered">
                    <div>
                        <a><img style = "height:35vh; justify-self: center;" src = "{{url_for('static', filename='dans/despre_tine_bg.jpeg')}}"></a>
                    </div>

                    <div>
                        <a><img style = "height:35vh; justify-self: center;" src = "{{url_for('static', filename='dans/despre_tina_futsuu_info.png')}}"></a>
                    </div>
                </div>
            <a href = "https://drive.google.com/file/d/18EbokA2qqsUVP0moshrzYxncv9RzDgPF/view?usp=sharing">
                Despre Tine [Futsuu]
            </a>

            <br>

            Requirements: +90% FC.

            <br>
            <br>
            <br>
            <br>
            <br>

            <h4 class = "playwrite-de-grund-guides-regular"><i>____Alpha__3____</i></h4>
            <div class="two_columns_centered">
                    <div>
                        <a><img style = "height:32.25vh; justify-self: center;" src = "https://assets.ppy.sh/beatmaps/2041850/covers/cover@2x.jpg?1704355221"></a>
                    </div>

                    <div>
                        <a><img style = "height:32.25vh; justify-self: center;" src = "{{url_for('static', filename='dans/reach_for_the_moon_futsuu_info.png')}}"></a>
                    </div>
                </div>
            <a href = "https://osu.ppy.sh/beatmapsets/2041850#taiko/4298964">
                Reach for the Moon, Immortal Smoke [Futsuu]
            </a>

            <br>

            Requirements: +90% FC.
            
            <br>
            <br>
            <br>
            <br>
            <br>

            <h4 class = "playwrite-de-grund-guides-regular"><i>____Alpha__4____</i></h4>
            <div class="two_columns_centered">
                    <div>
                        <a><img style = "height:36.25vh; justify-self: center;" src = "{{url_for('static', filename='dans/newbie_bg.jpg')}}"></a>
                    </div>

                    <div>
                        <a><img style = "height:36.25vh; justify-self: center;" src = "{{url_for('static', filename='dans/newbie_info.png')}}"></a>
                    </div>
                </div>
            <a href = "https://drive.google.com/drive/folders/1riX1XlsohN9TNqvrnojaQ2LIw1VM1ghc?usp=sharing">
                Don't Say It's Just Because I'm a Newbie [SUPERNOOB's Futsuu]
            </a>

            <br>

            Requirements: +90% FC.
            
            <br>

        </div>
    </body>
</html>