<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>


    <body>

        <br>
        <br>
        <br>

        <div style="text-align: center; justify-content: center; align-items: center;">
            <h2 style = "font-size: 72px;">BETA</h2>
        
            <br>

            <h4 class = "playwrite-de-grund-guides-regular"><i>____Beta__1____</i></h4>

            <div class="two_columns_centered">
                <div>
                    
                    <a><img style = "height:35vh; justify-self: center;" src = "{{url_for('static', filename='dans/despre_tine_bg.jpeg')}}"></a>
                    
                </div>

                <div>
                    <a><img style = "height:35vh; justify-self: center;" src = "{{url_for('static', filename='dans/despre_tina_lite_info.png')}}"></a>
                </div>
            </div>
        
            <a href = "https://drive.google.com/file/d/18EbokA2qqsUVP0moshrzYxncv9RzDgPF/view?usp=sharing">
                Despre Tine [Lite Oni]
            </a>

            <br>
        
            Requirements: +93% FC.
            
            <br>
            <br>
            <br>
            
            <h4 class = "playwrite-de-grund-guides-regular"><i>____Beta__2____</i></h4>
            
                <div class="two_columns_centered">
                    <div>
                        <a><img style = "height:35vh; justify-self: center;" src = "{{url_for('static', filename='dans/despre_tine_bg.jpeg')}}"></a>
                    </div>

                    <div>
                        <a><img style = "height:35vh; justify-self: center;" src = "{{url_for('static', filename='dans/despre_tina_info.png')}}"></a>
                    </div>
                </div>

                    <a href = "https://drive.google.com/file/d/18EbokA2qqsUVP0moshrzYxncv9RzDgPF/view?usp=sharing">
                        Despre Tine [Oni]
                    </a>

                    <br>

                    Requirements: +93% FC.

                    <br>
                    <br>
                
            <h4 class = "playwrite-de-grund-guides-regular"><i>____Beta__3____</i></h4>
            <a href = "https://cdn.discordapp.com/attachments/1183227585493213214/1427463938928410725/AriableyeS_-_Monochrome_Solitude.osz?ex=68eef4e4&is=68eda364&hm=e919b9ab857456b5ffd73ba8028c632f58d34f7ce111e5ae0d4057f9c39929a3&">
                Monochrome Solitude [Oni]
            </a>

            <br>

            Requirements: +93% FC.
            
            <br>

        </div>
    </body>
</html>