<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>


    <body>

        <div style="text-align: center; justify-content: center; align-items: center;">

        <br>
        <br>
        <br>
        <h2 style = "font-size: 72px;" style="text-align: center; justify-content: center; align-items: center;">DELTA</h2>
        <br>

        <h4 class = "playwrite-de-grund-guides-regular"><i>____Delta__1____</i></h4>
            <div class="two_columns_centered">

                <div>
                    <details>
                    <summary>Potentially sensible BG (+18 - mild violence)</summary>
                    <p>
                        <a><img style = "height:45vh; justify-self: center;" src = "{{url_for('static', filename='siervos_my_artwork.png')}}"></a>
                    </p>
                    </details>
                </div>

                <div>
                    <a><img style = "height:45vh; justify-self: center;" src = "{{url_for('static', filename='dans/siervos_info.png')}}"></a>
                </div>

            </div>
            <a href = "https://drive.google.com/file/d/1IoA8OAnU8kedeT2ZbxE4C3Pw67xR_6x9/view?usp=sharing">
            Siervos [Esclavos]
            </a>
        <br>
        Requirements: +94% FC

        <br>
        <br>
        <br>
        <br>
        <br>

        <h4 class = "playwrite-de-grund-guides-regular"><i>____Delta__2____</i></h4>
        <div class="two_columns_centered">
            <div>
                <a><img style = "height:32.25vh; justify-self: center;" src = "https://assets.ppy.sh/beatmaps/2077263/covers/cover.jpg?5330962"></a>
            </div>

            <div>
                <a><img style = "height:37.25vh; justify-self: center;" src = "{{url_for('static', filename='dans/red_rose_info.png')}}"></a>
            </div>
        </div>

        <a href = "https://osu.ppy.sh/beatmapsets/2077263#taiko/5330962">
            TRUE EVER ROSE [Red Rose]
        </a>
        <br>
        Requirements: +96% FC

        </div>

        <br>

    </body>
</html>