<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>


    <body>

        <br>
        <br>
        <br>
        <h2 style = "font-size: 72px;" style="text-align: center; justify-content: center; align-items: center;">DELTA</h2>
        <br>

        <h4 class = "playwrite-de-grund-guides-regular"><i>____Delta__1____</i></h4>
            <div class="two_columns_centered">

                <div>
                    <a href = "https://drive.google.com/file/d/1IoA8OAnU8kedeT2ZbxE4C3Pw67xR_6x9/view?usp=sharing"><img style = "height:45vh; justify-self: center;" src = "{{url_for('static', filename='siervos_my_artwork.png')}}"></a>
                </div>

                <div>
                    <a href = "https://drive.google.com/file/d/1IoA8OAnU8kedeT2ZbxE4C3Pw67xR_6x9/view?usp=sharing"><img style = "height:45vh; justify-self: center;" src = "{{url_for('static', filename='siervos_my_artwork.png')}}"></a>
                </div>

            </div>
            Siervos [Esclavos]
        <br>
        Requirements: +94% FC

        <br>
        <br>
        <br>

        <h4 class = "playwrite-de-grund-guides-regular"><i>____Delta__2____</i></h4>
        <a href = "https://osu.ppy.sh/beatmapsets/2077263#taiko/5330962">
            TRUE EVER ROSE [Red Rose]
        </a>
        <br>
        Requirements: +96% FC

        <br>

    </body>
</html>