<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>


    <body>

        <div style="text-align: center; justify-content: center; align-items: center;">
            <br>
            <br>
            <br>
            <h2 style = "font-size: 72px;">EPSILON</h2>
            <br>

                        <h4 class = "playwrite-de-grund-guides-regular"><i>____Epsilon__1____</i></h4>
            <div class="two_columns_centered">
                <div>
                    <a><img style = "height:32.25vh; justify-self: center;" src = "https://assets.ppy.sh/beatmaps/2396318/covers/cover@2x.jpg?5191798"></a>
                </div>

                <div>
                    <a><img style = "height:32.25vh; justify-self: center;" src = "{{url_for('static', filename='dans/cannon_ball_info.png')}}"></a>
                </div>
            </div>

            <a href= "https://osu.ppy.sh/beatmapsets/2396318#taiko/5191798">
                Cannon ball [Omega]
            </a>

            <br>

            Requirements: +94% FC

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <h4 class = "playwrite-de-grund-guides-regular"><i>____Epsilon__2____</i></h4>
            <div class="two_columns_centered">
                <div>
                    <details>
                    <summary>Potentially sensible BG (+18 - mild violence)</summary>
                    <p>
                        <div>
                            <a><img style = "height:32.25vh; justify-self: center;" src = "{{url_for('static', filename='dans/unstoppable_bg.jpg')}}"></a>
                        </div>
                    </p>
                    </details>
                </div>

                <div>
                    <a><img style = "height:37.25vh; justify-self: center;" src = "{{url_for('static', filename='dans/unstoppable_info.png')}}"></a>
                </div>
            </div>

            <a href= "https://drive.google.com/file/d/1YRLdlOV0GuktAV1JSrDsHSwESYuWyKYa/view?usp=sharing">
                The Unstoppable [Utter Annihilation]
            </a>

            <br>

            Requirements: +96% FC

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <h4 class = "playwrite-de-grund-guides-regular"><i>____Epsilon__3____</i></h4>
            <div class="two_columns_centered">
                    <div>
                        
                        <a><img style = "height:32.25vh; justify-self: center;" src = "https://assets.ppy.sh/beatmaps/2438197/covers/cover.jpg?5317267"></a>
                        
                    </div>

                    <div>
                        <a><img style = "height:32.25vh; justify-self: center;" src = "{{url_for('static', filename='dans/words_left_untold_info.png')}}"></a>
                    </div>
                </div>

            <a href= "https://osu.ppy.sh/beatmapsets/2438197#taiko/5317267">
                Words Left Untold [A Fate Worse than Death]
            </a>

            <br>

            Requirements: +94% FC
            <br>

        <!--
        <details>
        <summary>System Requirements</summary>
        <p>
            <div>
                <a><img style = "height:32.25vh; justify-self: center;" src = "{{url_for('static', filename='dans/unstoppable_bg.jpg')}}"></a>
            </div>
        </p>
        </details>
        -->

        </div>
    </body>
</html>