<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>


    <body>

        <br>
        <br>
        <br>
        <h2 style = "font-size: 72px;">EPSILON</h2>
        <br>

        <h4 class = "playwrite-de-grund-guides-regular"><i>____Epsilon__1____</i></h4>
        <a href= "https://drive.google.com/file/d/1YRLdlOV0GuktAV1JSrDsHSwESYuWyKYa/view?usp=sharing">
            The Unstoppable [Utter Annihilation]
        </a>

        <br>

        Requirements: +96% FC

        <br>
        <br>

        <h4 class = "playwrite-de-grund-guides-regular"><i>____Epsilon__2____</i></h4>
        <a href= "https://osu.ppy.sh/beatmapsets/2438197#taiko/5317267">
            Words Left Untold [A Fate Worse than Death]
        </a>

        <br>

        Requirements: +94% FC
        <br>
    </body>
</html>