<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>


    <body>

        <br>
        <br>
        <br>
        <h2>GAMMA</h2>
        <br>

        <a href = "https://drive.google.com/file/d/1IoA8OAnU8kedeT2ZbxE4C3Pw67xR_6x9/view?usp=sharing">
            Siervos [Esclavos]
        </a>
        
        Requirements: +94% FC


        <a href = "https://osu.ppy.sh/beatmapsets/2077263#taiko/5330962">
            TRUE EVER ROSE [Red Rose]
        </a>

        Requirements: +96% FC

        

    </body>
</html>