<!DOCTYPE html>
<html lang="en">

    <head>
        
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund+Guides&display=swap" rel="stylesheet">

    </head>


    <body>

        <div style="text-align: center; justify-content: center; align-items: center;">

            <br>
            <br>
            <br>

            <h2 style = "font-size: 72px;">GAMMA</h2>

            <br>
            <!-- Fast Onis and chill Inner Onis -->

            <br>
            <br>

            <h4 class = "playwrite-de-grund-guides-regular"><i>____Gamma__1____</i></h4>
            <div class="two_columns_centered">
                <div>

                    <details>
                    <summary>Potentially sensible BG (+18 - lewd, suggestive)</summary>
                    <p>
                        <div>
                            <a><img style = "height:27.25vh; justify-self: center;" src = "https://assets.ppy.sh/beatmaps/2319522/covers/cover@2x.jpg?4969092"></a>
                        </div>
                    </p>
                    </details>

                </div>

                <div>
                    <a><img style = "height:32.25vh; justify-self: center;" src = "{{url_for('static', filename='dans/monogatari_oni_info.png')}}"></a>
                </div>
            </div>
            <a href = "https://osu.ppy.sh/beatmapsets/2319522#taiko/4969092">
                Fuyu Monogatari [Oni]
            </a>
            <br>
            Requirements: +96% FC

            <br>
            <br>
            <br>
            <br>
            <br>

            <h4 class = "playwrite-de-grund-guides-regular"><i>____Gamma__2____</i></h4>
            <div class="two_columns_centered">
                <div>

                    <div>
                        <a><img style = "height:32.25vh; justify-self: center;" src = "https://assets.ppy.sh/beatmaps/2404850/covers/cover@2x.jpg?5217344"></a>
                    </div>

                </div>

                <div>
                    <a><img style = "height:32.25vh; justify-self: center;" src = "{{url_for('static', filename='dans/insanoni_info.png')}}"></a>
                </div>
            </div>

            <a href = "https://osu.ppy.sh/beatmapsets/2404850#taiko/5217344">
                Master of Insanity [InsanOni]
            </a>

            <br>
            
            Requirements: +93% FC

            <br>
            <br>
            <br>
            <br>
            <br>

            <h4 class = "playwrite-de-grund-guides-regular"><i>____Gamma__3____</i></h4>
            <div class="two_columns_centered">

                <div>
                    <a><img style = "height:32.25vh; justify-self: center;" src = "https://assets.ppy.sh/beatmaps/2442559/covers/cover@2x.jpg?5330548"></a>
                </div>

                <div>
                    <a><img style = "height:32.25vh; justify-self: center;" src = "{{url_for('static', filename='dans/primordial_barrier_info.png')}}"></a>
                </div>
            </div>

            <a href = "https://osu.ppy.sh/beatmapsets/2404850#taiko/5217344">
                Fortuna Edge [Primordial Barrier]
            </a>

            <br>
            
            Requirements: +93% FC

        </div>

        <br>
    </body>
</html>