<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>


    <body>

        <br>
        <br>
        <br>
        <h2 style = "font-size: 72px;" style="text-align: center; justify-content: center; align-items: center;">GAMMA</h2>
        <br>
        <!-- Fast Onis and chill Inner Onis -->

        <br>
        <br>

        <h4 class = "playwrite-de-grund-guides-regular"><i>____Gamma__1____</i></h4>
        <a href = "https://osu.ppy.sh/beatmapsets/2319522#taiko/4969092">
            Fuyu Monogatari [Oni]
        </a>
        <br>
        Requirements: +96% FC

        <br>
        <br>
        <br>
        
        <h4 class = "playwrite-de-grund-guides-regular"><i>____Gamma__2____</i></h4>
        <a href = "https://osu.ppy.sh/beatmapsets/2404850#taiko/5217344">
            Master of Insanity [InsanOni]
        </a>
        <br>
        Requirements: +93% FC

        <br>
    </body>
</html>