<!DOCTYPE html>
<html lang="en">

    <head>
        
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund+Guides&display=swap" rel="stylesheet">

    </head>


    <body>

        <div style="text-align: center; justify-content: center; align-items: center;">

            
            <br>
            <br>
            <br>
            <h2 style = "font-size: 96px;" style="text-align: center; justify-content: center; align-items: center;">神</h2>
            <br>


            <div style = "color:rgb(180, 0, 0); font-size: 48px;">鬼</div>
            <h4><i>神一</i></h4>
                <div class="two_columns_centered">

                    <div>
                        <a><img style = "height:45vh; justify-self: center;" src = "{{url_for('static', filename='dans/exitium_bg.jpg')}}"></a>
                    </div>

                    <div>
                        <a><img style = "height:45vh; justify-self: center;" src = "{{url_for('static', filename='dans/exitium_info.png')}}"></a>
                    </div>

                </div>
                
            <a href = "https://drive.google.com/file/d/19Ruwqmf37eZ1ft71h2aXz7NRFqpSi-BH/view?usp=sharing">
                Exitium [Taladro Humano]
            </a>

            <br>

            Requirements: S rank (+95% FC)

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <div style = "color:rgb(0, 0, 180); font-size: 48px;">天</div>
            <h4><i>神二</i></h4>
                <div class="two_columns_centered">

                    <div>
                        <a><img style = "height:45vh; justify-self: center;" src = "{{url_for('static', filename='dans/monochrome_bg.jpg')}}"></a>
                    </div>

                    <div>
                        <a><img style = "height:45vh; justify-self: center;" src = "{{url_for('static', filename='dans/monochrome_info.png')}}"></a>
                    </div>

                </div>

            <a href = "https://drive.google.com/file/d/1gpLFMjvZfcMK7jgQnjOT1DTYlNWpRLY9/view?usp=sharing">
                Monochrome Solitude [Tsuki no Kageru]
            </a>

            <br>

            Requirements: S rank (+95% FC)

        </div>
    </body>
</html>