<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>


    <body>

        <div style="text-align: center; justify-content: center; align-items: center;">
            
            <br>
            <br>
            <br>

            <h2 style = "font-size: 72px;">雑魚</h2>
        
            <br>

            <h4><i>雑魚ー</i></h4>

            <div class="two_columns_centered_3_to_1_ratio">
                <div>
                    
                    <img style = "height:30vh; text-align: center; justify-content: center; align-items: center;" src = "https://assets.ppy.sh/beatmaps/2453715/covers/cover@2x.jpg?1761269664">

                </div>
                
                <div>
                    <img style = "height:30vh; text-align: center; justify-content: center; align-items: center;" src = "{{url_for('static', filename='dans/this_will_be_the_day_kantan_info.png')}}">
                </div>
            </div>
        
            <a href = "https://osu.ppy.sh/beatmapsets/2453715#taiko/5361306">
                This will be the Day [Kantan]
            </a>

            <br>
        
            Requirements: +80% FC.
            
            <br>
            <br>
            <br>
            
            <h4><i>雑魚二</i></h4>
            
                <div class="two_columns_centered_3_to_1_ratio">
                    <div>
                        <a><img style = "height:30vh;" src = "https://assets.ppy.sh/beatmaps/2442559/covers/cover@2x.jpg?5330548"></a>
                    </div>

                    <div>
                        <a><img style = "height:30vh;" src = "{{url_for('static', filename='dans/fortuna_edge_info.png')}}"></a>
                    </div>

                </div>

                    
                <a href = "https://osu.ppy.sh/beatmapsets/2442559#taiko/5330548">
                    Fortuna Edge [Kantan]
                </a>

                <br>

                Requirements: +80% FC

                <br>

        </div>
    </body>
</html>