<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
</head>

<body>
    <a class = "box" title = "osu!taiko Zako dan & mini-dan"            >雑魚</a>
    <a class = "box" title = "osu!taiko Alpha dan & mini-dan"           >Alpha</a>
    <a class = "box" title = "osu!taiko Beta dan & mini-dan"            >Beta</a>
    <a class = "box" title = "osu!taiko Gamma dan & mini-dan"           >Gamma</a>
    <a class = "box" title = "osu!taiko Delta dan & mini-dan"           >Delta</a>
    <a class = "box" title = "osu!taiko Epsilon dan & mini-dan"         >Epsilon</a>
    <a class = "box" title = "osu!taiko Kami dan & mini-dan"            >神</a>
</body>

</html>