<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div>
        <h4>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h4>
        <h3>09/05/2025 - 18:19 (UTC-3)</h3>
        <p>As of now, the saving system in my game takes O(n) time to save and load your progress.<br>
            
        In the future, I will refactor savefiles in .json and will put them into dictionaries whenever I'm processing them in Python: therefore, it will take O(1) time to save and load your progress &#127881;</p>
        <!-- <img style="text-align: center;" src="https://pbs.twimg.com/media/GqiWseXXoAAjHBX?format=png"> -->
        <div style="text-align: center; justify-content: center; align-items: center;">
            <img src = "https://pbs.twimg.com/media/GqiWseXXoAAjHBX?format=png">
            <img src = "https://pbs.twimg.com/media/GqjFzvUWcAACSHU?format=png">
        </div>
    </div>
    <br>
    <br>
    <div>
        <h4>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h4>
        <h3>09/05/2025 - 23:00 (UTC-3)</h3>
        <p>Learning HTML (it sucks) (I also suck) (is this a match made in heaven...? :p) <br>
            Only the approaches from the 2nd and 5th images worked for me .-. lol...
        </p>
        <div style="text-align: center; justify-content: center; align-items: center;">
            <iframe src="https://drive.google.com/file/d/1rK1xlQyNzVFohmtq3GUr0cKKymEoMZii/preview" width="640" height="480" allow="autoplay"></iframe>
            <iframe src="https://drive.google.com/file/d/1XHzUmo1Mx9m90VNYhgdZMjwyVlNileoq/preview" width="640" height="480" allow="autoplay"></iframe>
            <iframe src="https://drive.google.com/file/d/1ZqBICnpJi5fKKpf1O0GDSmbA8lIYH3x4/preview" width="640" height="480" allow="autoplay"></iframe>
            <iframe src="https://drive.google.com/file/d/1dTKyy5QPYNBKdFP6BYlJPYJlDHseiiol/preview" width="640" height="480" allow="autoplay"></iframe>
            <iframe src="https://drive.google.com/file/d/1kY1r61gYo6Tvhf-QzxcMWTmEVuy9S0qJ/preview" width="640" height="480" allow="autoplay"></iframe>
        </div>
        <h4>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h4>
    </div>
</body>
</html>