html {background-color: rgb(174, 206, 210)}

h1 {
    color: rgb(5, 139, 0);
}

h2 {
    color: rgb(0, 0, 0);
}

h3 {
    color: rgb(129, 129, 129);
}

h4 {
    color: rgb(100, 100, 100);
}

p {
    font-family: verdana;
}


p3 {
    font-family: verdana;
    font-size: 20px;
}

pO {
    font-family: "Blackadder ITC", "Tangerine", "Kunstler Script", "Papyrus", serif;
    font-size: 24px;
    color: #69009E;
}

pT {
    font-family: "Blackadder ITC", "Tangerine", "Kunstler Script", "Papyrus", serif;
    font-size: 24px;
    color: #0C9B00;
}

pO_2 {
    font-family: "Blackadder ITC", "Tangerine", "Kunstler Script", "Papyrus", serif;
    font-size: 24px;
    color: #83004c;
}

pT_2 {
    font-family: "Blackadder ITC", "Tangerine", "Kunstler Script", "Papyrus", serif;
    font-size: 24px;
    color: #810000;
}

.esp {
    background-image: linear-gradient(90deg, red, yellow, red 85%);
    color: transparent;
    background-clip: text;
}

.eng {
    background-image: linear-gradient(90deg, white 30%, blue 30%, red 80%);
    color: transparent;
    background-clip: text;
}

.eng_ext {
    background-image: linear-gradient(90deg, white, blue, red, blue, white);
    color: transparent;
    background-clip: text;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.georgia_font {
    font-family: "Noto Serif Georgian", Georgia, serif;
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

.playwrite-de-grund-guides-regular {
  font-family: "Playwrite DE Grund Guides", cursive;
  font-weight: 400;
  font-style: normal;
}


/*
.square_container{
    padding-top: 100%;
}
*/

.humble_header {
    font-size: 18px;
    font-weight: bold;
}

.height_proportional_to_screen_height{
    height: 65vh;
    width: 65vh;
    /* width: height; */
}

.subtitle{
    margin-top: 20px
}

.sixteen_nine_ratio{
    height: 58vh;
    width: 75vh;
}

.true_sixteen_nine_ratio{
    height: 50vh;
    width: 89vh;
}

.kaeru_ratio{
    height: 50vh;
    width: 94.86111111vh;
}

/*
.no_overflow{
    overflow: hidden;
}
*/

.horizontal_separator_strings{
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 12px;
}

/*
.container{
    width: 92vw;
    margin: auto;
    height:  10px;
    border: 2px solid red;
}
*/


.take_up_all_of_viewport_horizontally{
    width: 95 vw;
}

.two_columns {
    display: grid;
    /* Enables grid layout */
    grid-template-columns: 1fr 1fr;
    /* Creates two equal-width columns */
    gap: 10px;
    /* Adds space between columns */
    place-content: start space-evenly;
}

.two_columns_centered {
    display: grid;
    /* Enables grid layout */
    grid-template-columns: 1fr 1fr;
    /* Creates two equal-width columns */
    gap: 10px;
    /* Adds space between columns */
    place-content: start space-evenly;
}

.two_columns_centered > div:nth-child(1) {
    justify-self: end;
    text-align: right;
    justify-content: right;
    align-items: right;
    /* background-color: #00ff22; */
}

.two_columns_centered > div:nth-child(2) {
    justify-self: start;
    text-align: left;
    justify-content: left;
    align-items: left;
}

.two_columns_centered_3_to_1_ratio {
    display: grid;
    /* Enables grid layout */
    grid-template-columns: 1fr 0.33fr;
    /* Creates two equal-width columns */
    gap: 10px;
    /* Adds space between columns */
    place-content: start space-evenly;
}

.two_columns_centered_3_to_1_ratio > div:nth-child(1) {
    justify-self: end;
    text-align: right;
    justify-content: right;
    align-items: right;
    /* background-color: #00ff22; */
}

.two_columns_centered_3_to_1_ratio > div:nth-child(2) {
    justify-self: start;
    text-align: left;
    justify-content: left;
    align-items: left;
}

.column {
    padding: 10px;
    /* background-color: #f4d1ff; */
    /* Adds padding inside each column */
}

/*
.column > div:nth-child(1) {
    background-color: #ff0000;
}

.column > div:nth-child(2) {
    background-color: #f4d1ff;
}
*/

.column_no_colour{
    padding: 10px;
}

.column_but_blue {
    padding: 10px;
    /* background-color: #f4d1ff; */
    /* Adds padding inside each column */
}

.column_but_blue > div:nth-child(1) {
    background-color: rgb(138, 195, 214);
}

.column_but_blue > div:nth-child(2) {
    background-color: rgb(138, 195, 214);
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.box {
  width: 320px;
  height: 50px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
  background-color: rgb(124, 247, 169);
}

.rounded_box {
  width: 320px;
  height: 50px;
  padding: 10px;
  margin: 0;
  background-color: rgb(249, 152, 152);
  /* border-radius: 50% 50% 50% 50%; */
  border: 4px solid red;    /* solid red; */
  border-radius: 20px 20px 20px 20px;
  border-color: rgb(207, 126, 126);
}

.orange_rounded_box {
    width: 50px;
    height: 25px;
    padding: 10px;
    margin: 0;

    border: 4px solid rgb(207, 135, 0);     /* solid orange; */
    border-color: rgb(207, 135, 0);    
    border-radius: 20px 20px 20px 20px;    

    background-color: #f4c47c;
}

.upper_right{
    position: absolute;
    top: -15px;
    right: 130px;
}

.upper_right_corner {
    position: absolute;
    top: 5px;
    right: 20px;
}

.dans_about_box{
    position: absolute;
    top: 20vh;
    left: 1vw;
    width: 63px;
    height: 25px;
    padding: 10px;
    margin: 0;

    border: 4px solid #524f99;     /* solid orange; */
    border-color: #524f99;    
    border-radius: 20px 20px 20px 20px;    

    background-color: #807cf4;
}

.all_text_position{
    position: relative;
    top: 50px;
}

.dans_all_box{
    position: absolute;
    top: 20vh;
    right: 1vw;
    width: 32px;
    height: 25px;
    padding: 10px;
    margin: 0;

    border: 4px solid rgb(217, 136, 242);     /* solid orange; */
    border-color: rgb(217, 136, 242);
    border-radius: 20px 20px 20px 20px;

    background-color: rgb(162, 102, 181);
}

.vertical_bleed{
    top: 15vh;
}

.separator_bar{
    width: 98vw;
    position: absolute;
    top: 15vh;


    height: 1vh;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

p.small {
  line-height: 0.8;
}

.smol_padding {
    padding: 15px;
    background-color: lightblue;
}

.sidenav {
  width: 140px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}