<!DOCTYPE html>


    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>


    
    <body>

        <div>
            {% include 'back_to_main_page.html' %}
            {% include 'blog/tabs_navigator.html' %}
        </div>

        <br>
        <br>

        <h1> Credits </h1>

        <br>
        <br>

        <div style="text-align: center; justify-content: center; align-items: center;">

            <p>
                <b><i>emifuu</i></b> for teaching me how to use nth-child properly (used for some of the grid sorcery...).
            </p>


            <p>
                <b><i>Lwiizi</i></b> for the big big help on getting the fonts to work :D
            </p>

        </div>



    </body>
</html>