<!DOCTYPE html>


    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>


    
    <body>

        <div>
            {% include 'back_to_main_page.html' %}
            {% include 'blog/tabs_navigator.html' %}
        </div>

        <br>
        <br>

        <h1> Credits </h1>

        <div style="text-align: center; justify-content: center; align-items: center;">

            <p>
                <b><i>emifuu</i></b> for teaching me how to use nth-child properly (used for some of the grid sorcery...).
            </p>


            <p>
                <b><i>Lwiizi</i></b> for the big big help on getting the fonts to work :D
            </p>

        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <h1>Values</h1>

        <div class="two_columns_centered">

            <div>
                <a href = "https://commons.wikimedia.org/wiki/File:Ada_Initiative_logo_(Ada_Lovelace_portrait).svg#/media/File:Ada_Initiative_logo_(Ada_Lovelace_portrait).svg"><img style = "height:45vh; justify-self: center;" src= "https://upload.wikimedia.org/wikipedia/commons/7/7c/Ada_Initiative_logo_%28Ada_Lovelace_portrait%29.svg" alt = "Ada Initiative logo (Ada Lovelace portrait).svg"></a><br>
            </div>

            <div>
                <a href = "https://www.youtube.com/watch?v=2_Dtmpe9qaQ"><img style = "height:45vh; justify-self: center;" src = "{{url_for('static', filename='portfolio/clippy_noBG.png')}}"></a>
            </div>

        </div>

        <br>
        <br>
        <br>
        <br>
        <br>

        <h1>Links</h1>
        <a href = "https://github.com/SUPERNOOB20/SUPERNOOB-Studios/tree/nain/Flask/flaskr" >
            Source code of this website
        </a>
        <br>
        <a href = "https://github.com/SUPERNOOB20/Stellar-Defenders/tree/nain" >
            Source code of my game (Stellar Defenders)
        </a>

    </body>
</html>