<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund+Guides&display=swap" rel="stylesheet">

    </head>


    <body>

        <div>
            {% include 'back_to_main_page.html' %}
            {% include 'blog/tabs_navigator.html' %}
        </div>

        <!-- <p_test_> -->
        <br>
        <br>
        <br>
        <div class = "separator_bar">
        </div>
        <br>
        <br>
        <br>
        <br>

        <div class = "vertical_bleed" style = "text-align: center; justify-content: center; align-items: center;">
            {% include 'blog/dans_navigator.html' %}
        </div>
        
        <br>
        <br>
        <br>

        <div style="text-align: center; justify-content: center; align-items: center;">

            <h1 style = "font-size: 72px;">osu!taiko dans</h1>

        </div>

        <br>
        * <b>Mini-dans</b> requirements: Pass.<br>
        * <b>Dans</b>: FC with the corresponding acc.<br>
        <br>
        <br>
        <br>
        Rules:<br>
        <br>
        ** Have a bancho account (osu api integration <strike>never</strike> soontm)<br>
        ** Allowed mods: NM, NF, HR, HD, DT, NC, FL.<br>
        <br>
        ** If you don't git gud, don't tilt: blame the mapper! :)<br>
        ** Last, but not least... have fun! :3<br>

        <br>
        <br>
        <br>

        <details>

            <summary style="font-size: 24px;">How difficult are the dans?</summary>

            <p> MY OPINION <i>(as of October 24th, 2025)</i>:<br><br>
                雑魚: Good for people who are just now getting into videogames. I tried to put the simplest rhythm and gameplay I could.<br>
                <b>Alpha</b>: Good for people who are just now getting into taiko.<br>
                <b>Beta</b>: Good for players who already know how to play taiko "properly". In my opinion, if you beat this dan, you can consider yourself a taiko player like any other :)<br>
                <b>Gamma</b>: These maps are meant to be the bread and butter for 4 digits - the density is high (and so is the star rating!), but the patterns are aimed to be simple and farm.<br>
                <b>Delta</b>: Good for veteran players. These maps require more experience with the game. Prowess with 1/6 or high bpm streams, for example. Any 3 digits should excel at these :) (otherwise, I wouldn't consider you a true 3 digit... lol).</p>
                <br><p style = "color: rgb(0, 0, 131)"> v <i>From here on, all maps are just torture. v</i></p>
                <b>Epsilon</b>: These maps are F*CKED. Mapped with the sole intention of being evilly, rawly difficult, and endlessly jumping at your throat with evil patterns at all times.<br>
                神: Absolutely unplayable for me. I can only play these with HT. Good luck. You will need it.<br>

            </p>

        </details>

        <br>
        <br>
        <details>

            <summary style="font-size: 24px;">How does it work?</summary>

            <p> Dans are order from easiest to hardest, so is the easiest, and is the hardest!<br>
                You have two ranks: dan rank, and mini-dan rank.<br>
                your <b><i>rank</i></b> is defined by your hardest mini-dan / dan achieved.<br>
                <br>
                For example: I, personally, am "dan Epsilon 1, mini-dan Delta 1" (as of October 26th, 2025) :3<br>

            </p>

        </details>

        <br>
        <br>

        <details>

            <summary style="font-size: 24px;">Why are all maps yours?</summary>

            <p>
                <img src= "https://pbs.twimg.com/media/G4CL-NjXMAADtiG?format=png">
            </p>

        </details>
        
        <br>
        <br>

        <details>

            <summary style="font-size: 24px;">Can I post my own dans here too?</summary>

            <p> Sure thing!<br>
                Just hit me up, and we can post your own osu!standard, osu!taiko, osu!catch or osu!mania dan here. If enough people are interested, maybe I'll put them under a section called "community dans" :)<br>
                <br>
                Just one rule: I will only host links to your stuff, but preferrably no static multimedia files unless it's super necessary! The storage quota I am allowed for free is small, so we have to optimise things whenever sensible :3<br>
                <br>
                Do note however that I'm still merely in my baby steps when it comes to learning about web development and stuff.<br>
                It would be more comfortable, for example, if we could make dans in CSVs, import said CSVs in Google Sheets, feed those CSVs to Flask through Google Sheets links, and have Flask read and write those sheets!<br>
                But it feels like I'm ages away from getting something like that to work e.e
            </p>

        </details>

        <br>
        <br>

        <details>

            <summary style="font-size: 24px;">Will more stuff get added in the future?</summary>

            <p> Yes, I'm <u>always</u> adding new stuff, but both coding and mapping take a loooong time,<br>
                and college getting in the way isn't particularly helpful either,<br>
                so pls be patient e.e
            </p>

        </details>

    </body>
</html>
