<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>


    <body>

        <div>
            {% include 'back_to_main_page.html' %}
            {% include 'blog/tabs_navigator.html' %}
        </div>

        <br>
        <br>
        <br>
        <br>

        <div>
            {% include 'blog/dans_navigator.html' %}
        </div>
        
        <br>
        <br>
        <br>

        <div style="text-align: center; justify-content: center; align-items: center;"></div>

            <h1>osu!taiko dans</h1>
            <h3><i>(Ordered from easiest to hardest)</i></h3>

        </div>

        <br>
        <br>
        * Mini-dans requirements: Pass.
        * Dans: FC with the corresponding acc.

        Rules:

        Have a bancho account (osu api integration <strike>never</strike> soontm)
        Allowed mods: NM, NF, HR, HD, DT, NC, FL.

        <br>
        <br>
        <br>
        <br>
        
        {% include 'blog/dans/alpha.html' %}

        {% include 'blog/dans/beta.html' %}

        {% include 'blog/dans/gamma.html' %}

        {% include 'blog/dans/kami.html' %}

        
        
    </body>
</html>