<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund+Guides&display=swap" rel="stylesheet">

    </head>


    <body>

        <div>
            {% include 'back_to_main_page.html' %}
            {% include 'blog/tabs_navigator.html' %}
        </div>

        <!-- <p_test_> -->
        <br>
        <br>
        <br>
        <div class = "separator_bar">
        </div>
        <br>
        <br>
        <br>
        <br>

        <div class = "vertical_bleed" style = "text-align: center; justify-content: center; align-items: center;">
            {% include 'blog/dans_navigator.html' %}
        </div>
        
        <br>
        <br>
        <br>

        <div style="text-align: center; justify-content: center; align-items: center;">

            <h1 style = "font-size: 72px;">osu!taiko dans</h1>
            <h3><i>(Ordered from easiest to hardest)</i></h3>

        </div>

        <br>
        <br>

        {% include 'blog/dans/zako.html' %}

        {% include 'blog/dans/alpha.html' %}

        {% include 'blog/dans/beta.html' %}

        {% include 'blog/dans/gamma.html' %}

        {% include 'blog/dans/delta.html' %}

        {% include 'blog/dans/epsilon.html' %}

        {% include 'blog/dans/kami.html' %}

        
        
    </body>
</html>
