<!DOCTYPE html>


    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>


    
    <body>

        <div>
            {% include 'back_to_main_page.html' %}
            {% include 'blog/tabs_navigator.html' %}
        </div>
        
        <br>
        <br>

        <h1> Contact links </h1>

        <br>
        <br>

        <div style="text-align: center; justify-content: center; align-items: center;">
            <p>
                If you would like to contact me, I'm <u>most attentive to my Discord</u> account <u>and</u> my <u>WhatsApp</u> messages.
            </p>

            <p>
                You can find links to those, and to most of my other social media accounts, <a href="https://linktr.ee/SUPERNOOB20">here</a>.
            </p>

            <br>
        </div>


    </body>
</html>


<!-- #DCF47C-->



</html>