<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SUPERNOOB Studios</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
</head>


<body>

    <div>
        {% include 'back_to_main_page.html' %}
        {% include 'blog/tabs_navigator.html' %}
    </div>

    <div class="sidenav">
        <a href="{{url_for('vocal_composition')}}">Wind God Girl</a>
        <a href="{{url_for('music')}}">Misc</a>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div style="text-align: center; justify-content: center; align-items: center;">

        <p> (Vocal Cover, May 2023) FELT - Lost my Way.ogg ----- <a href="https://www.youtube.com/watch?v=ENnqntOKwGs">(original)</a>. </p>
        <audio controls>
            <source src="{{url_for('static', filename='audio/(Vocal Cover, May 2023) FELT - Lost my Way.ogg')}}" type="audio/ogg">
            Your browser does not support this .ogg audio element :(
        </audio>

        <br>
        <br>
        <br>

        <p>  (Vocal Cover, May 2023) Takamachi Walk - Shallow.ogg ----- <a href="https://www.youtube.com/watch?v=xxzWS9a3fQ4">(original)</a>  </p>
        <audio controls>
            <source src="{{url_for('static', filename='audio/(Vocal Cover, June 2025) Takamachi Walk - Shallow.ogg')}}" type="audio/ogg">
            Your browser does not support this .ogg audio element :(
        </audio>

        <br>
        <br>
        <br>


        <p>  (Vocal Cover, June 2025) The Fallen Prodigy - Misery ----- <a href = "https://www.youtube.com/watch?v=zPax1Y2uHhE">(original) </a>  </p>
        <div class = "two_columns_centered">

            <div class = "column_no_colour">
                <a href = "https://www.youtube.com/watch?v=5hjNS8ZKEcU"> <img style="width:150px;" src = "{{url_for('static', filename='audio/misery_instrumental.jpeg')}}"> </a>
            </div>

            
            <div class = "column_no_colour">
                <a href = "https://www.youtube.com/watch?v=zPax1Y2uHhE"> <img style="width:150px;" src = "{{url_for('static', filename='audio/misery.jpeg')}}"> </a>
            </div>

        </div>
        <audio controls>
            <source src="{{url_for('static', filename='audio/[Vocal Cover] The Fallen Prodigy - Misery.ogg')}}" type="audio/ogg">
            Your browser does not support this .ogg audio element :(
        </audio>

    
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>  Random gutural practice:  </p>
        <audio controls>
            <source src="{{url_for('static', filename='audio/Improv.mp4')}}" type="audio/mp4">
            Your browser does not support this .ogg audio element :(
        </audio>
    </div>

</body>


</html>