<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div>
        <h4 class="horizontal_separator_strings">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h4>
        <h3>12/05/2025 - 17:00 (UTC-3)</h3>
        <p> What a huge grind this is being "o.o </p>
        <div style="text-align: center; justify-content: center; align-items: center;">
            <!--    <img src = "https://i.imgur.com/kO1iM1n.png"> 
                    <img class = "sixteen_nine_ratio" src = "https://i.imgur.com/GdUHrKn.png">
                    <img class = "sixteen_nine_ratio" src = "https://i.imgur.com/OJP1yMs.jpeg">      -->

            <blockquote class="imgur-embed-pub sixteen_nine_ratio" lang="en" data-id="kO1iM1n" data-context="false" ><a href="//imgur.com/kO1iM1n"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
            <blockquote class="imgur-embed-pub sixteen_nine_ratio" lang="en" data-id="GdUHrKn" data-context="false" ><a href="//imgur.com/GdUHrKn"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
            <blockquote class="imgur-embed-pub sixteen_nine_ratio" lang="en" data-id="OJP1yMs" data-context="false" ><a href="//imgur.com/OJP1yMs"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        </div>

        <div class="horizontal_separator_strings">
            <h4>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h4>
        </div>
    </div>

    <br>
    <br>

    <div>

        <h4 class="horizontal_separator_strings">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h4>
        <h3>09/05/2025 - 23:00 (UTC-3)</h3>
        <p>Learning HTML (it sucks) (I also suck) (is this a match made in heaven...? :p) <br>
            Only the approaches from the 2nd and 5th images worked for me .-. lol...
        </p>
        <div style="text-align: center; justify-content: center; align-items: center;">
            <iframe src="https://drive.google.com/file/d/1rK1xlQyNzVFohmtq3GUr0cKKymEoMZii/preview" width="640" height="480" allow="autoplay"></iframe>
            <iframe src="https://drive.google.com/file/d/1XHzUmo1Mx9m90VNYhgdZMjwyVlNileoq/preview" width="640" height="480" allow="autoplay"></iframe>
            <iframe src="https://drive.google.com/file/d/1ZqBICnpJi5fKKpf1O0GDSmbA8lIYH3x4/preview" width="640" height="480" allow="autoplay"></iframe>
            <iframe src="https://drive.google.com/file/d/1dTKyy5QPYNBKdFP6BYlJPYJlDHseiiol/preview" width="640" height="480" allow="autoplay"></iframe>
            <iframe src="https://drive.google.com/file/d/1kY1r61gYo6Tvhf-QzxcMWTmEVuy9S0qJ/preview" width="640" height="480" allow="autoplay"></iframe>
        </div>

    </div>
    <br>
    <br>
    <div>
        <h4 class="horizontal_separator_strings">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h4>
        <h3>09/05/2025 - 18:19 (UTC-3)</h3>
        <p>As of now, the saving system in my game takes O(n) time to save and load your progress.<br>    
            In the future, I will refactor savefiles in .json and will put them into dictionaries whenever I'm processing them in Python: therefore, it will take O(1) time to save and load your progress &#127881;
        </p>
        <div style="text-align: center; justify-content: center; align-items: center;">
            <img src = "https://pbs.twimg.com/media/GqiWseXXoAAjHBX?format=png">
            <img src = "https://pbs.twimg.com/media/GqjFzvUWcAACSHU?format=png">
        </div>
        <div class="horizontal_separator_strings">
            <h4>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h4>
        </div>
    </div>
</body>
</html>