<!DOCTYPE html>
<html lang="en">


<body>
    <div>
        <h4 class="horizontal_separator_strings">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h4>
        <h3>17/05/2025 - 01:30 (UTC-3)</h3>
        <br>
        <p3><i>Today is May 17th. Stellar Defenders has been on hiatus for FIVE DAYS now...</i></p3>
        <br>
        <br>
        <br>
        <p>Last few days, I have been focusing on web dev and image editing (I did 5 Youtube thumbnails, and some playing around with Inkscape and Krita) as a way to procrastinate resuming work on Stellar Defenders...</p>
        <br>
        <p>Now that my humongous grind on web dev and image editing endeavours is, for the moment being, finished, I have no excuses left to NOT resume work on my game...</p>
        <br>
        <p>So this is it - I have made a decision. Being burnt out from focusing only in implementing the new JSON saving system, I have now started my magical adventure to become a setup wizard (i.e I've started to make an installer for my game, lol).</p>
        <br>
        <p>Right now, if players wanted to play my game (Stellar Defenders v0.0.7-alpha), they would need to be technical users to set everything up for it like I have done in my computer ":3</p>
        <p>The goal is to make an executable file that is "user-friendly": install Python +3.11 and the required python libraries (the ones I used in my game).</p>
        <p>Players will then only need to follow the (hopefully simple and brief) instructions in the setup wizard to be able to play my game :3</p>
        <br>
        <p>I am looking at two tools right now: Making my own .bat files or .exe file (*in Jotaro's voice*: YES YES YES YES), and this "Inno Setup" tool thingy, which I'm not very enthusiastic about, but might as well be, you know, Plan B... (*in Jotaro's voice*: NO NO NO NO)</p>
        <br>
        <p>I have been eager to tinkering around Shell stuff for a while, now.</p>
        <p>And I'm fricking eager to start doing C++ stuff too.</p>
        <br>
        <p>Should I build my setup wizard in Shell or in C++...</p>
        <p>...maybe both?</p>
        <p>...maybe VBScript, even?!?!??</p>
        <br>
        <p>Who knows.</p>
        <br>
        <p>What I know, is that I'm making this game out of a passion - not a passion for making videogames themselves, but for LEARNING.</p>
        <p>When you depend on third party tools, you're learning sh*t.</p>
        <p>When you do stuff yourself, you learn a TON.</p>
        <br>
        <p>I want to do Stellar Defenders' installer myself.</p>
        <br>
        <p>I <s>shall</s> shell become the setup wizard.</p>
        <br>
        <img style="justify-content: center; align-items: center; margin: auto;" class="center smol_padding" src="{{url_for('static', filename='yer_a_wizard_harry.png')}}">

        <br>
        <br>

        <h4 class="horizontal_separator_strings">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h4>
        <h3>12/05/2025 - 17:00 (UTC-3)</h3>
        <p> What a huge grind this is being "o.o </p>
        <div style="text-align: center; justify-content: center; align-items: center;">
            <!--    <img src = "https://i.imgur.com/kO1iM1n.png"> 
                    <img class = "sixteen_nine_ratio" src = "https://i.imgur.com/GdUHrKn.png">
                    <img class = "sixteen_nine_ratio" src = "https://i.imgur.com/OJP1yMs.jpeg">      -->

            <blockquote class="imgur-embed-pub sixteen_nine_ratio" lang="en" data-id="kO1iM1n" data-context="false" ><a href="//imgur.com/kO1iM1n"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
            <blockquote class="imgur-embed-pub sixteen_nine_ratio" lang="en" data-id="GdUHrKn" data-context="false" ><a href="//imgur.com/GdUHrKn"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
            <blockquote class="imgur-embed-pub sixteen_nine_ratio" lang="en" data-id="OJP1yMs" data-context="false" ><a href="//imgur.com/OJP1yMs"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
        </div>

        <div class="horizontal_separator_strings">
            <h4>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h4>
        </div>
    </div>

    <br>
    <br>

    <div>

        <h4 class="horizontal_separator_strings">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h4>
        <h3>09/05/2025 - 23:00 (UTC-3)</h3>
        <p>Learning HTML (it sucks) (I also suck) (is this a match made in heaven...? :p) <br>
            Only the approaches from the 2nd and 5th images worked for me .-. lol...
        </p>
        <div style="text-align: center; justify-content: center; align-items: center;">
            <iframe src="https://drive.google.com/file/d/1rK1xlQyNzVFohmtq3GUr0cKKymEoMZii/preview" width="640" height="480" allow="autoplay"></iframe>
            <iframe src="https://drive.google.com/file/d/1XHzUmo1Mx9m90VNYhgdZMjwyVlNileoq/preview" width="640" height="480" allow="autoplay"></iframe>
            <iframe src="https://drive.google.com/file/d/1ZqBICnpJi5fKKpf1O0GDSmbA8lIYH3x4/preview" width="640" height="480" allow="autoplay"></iframe>
            <iframe src="https://drive.google.com/file/d/1dTKyy5QPYNBKdFP6BYlJPYJlDHseiiol/preview" width="640" height="480" allow="autoplay"></iframe>
            <iframe src="https://drive.google.com/file/d/1kY1r61gYo6Tvhf-QzxcMWTmEVuy9S0qJ/preview" width="640" height="480" allow="autoplay"></iframe>
        </div>

    </div>
    <br>
    <br>
    <div>
        <h4 class="horizontal_separator_strings">------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h4>
        <h3>09/05/2025 - 18:19 (UTC-3)</h3>
        <p>As of now, the saving system in my game takes O(n) time to save and load your progress.<br>    
            In the future, I will refactor savefiles in .json and will put them into dictionaries whenever I'm processing them in Python: therefore, it will take O(1) time to save and load your progress &#127881;
        </p>
        <div style="text-align: center; justify-content: center; align-items: center;">
            <img src = "https://pbs.twimg.com/media/GqiWseXXoAAjHBX?format=png">
            <img src = "https://pbs.twimg.com/media/GqjFzvUWcAACSHU?format=png">
        </div>
        <div class="horizontal_separator_strings">
            <h4>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</h4>
        </div>
    </div>
</body>
</html>