<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>


    <body>
        <div class = "two_columns" >

            <div class = "column">
                <img style="justify-content: center; align-items: center; margin: auto;" class="center height_proportional_to_screen_height" src="{{url_for('static', filename='portfolio/#1.png')}}">
                <img style="justify-content: center; align-items: center; margin: auto;" class="center height_proportional_to_screen_height" src="{{url_for('static', filename='portfolio/#2.png')}}">
            </div>

            <div class = "column">
                <img style="justify-content: center; align-items: center; margin: auto;" class="center height_proportional_to_screen_height" src="{{url_for('static', filename='portfolio/#3.png')}}">
                <img style="justify-content: center; align-items: center; margin: auto;" class="center height_proportional_to_screen_height" src="{{url_for('static', filename='portfolio/#4.png')}}">
            </div>
            
        </div>
    </body>

</html>