<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>


    <body>

        <br>

        <div>
            {% include 'blog/tabs_navigator.html' %}
        </div>

        <br>
        <br>


        <div class = "two_columns" >

            <div class = "column_but_blue">
                <img style="justify-content: center; align-items: center; margin: auto;" class="center true_sixteen_nine_ratio smol_padding" src="{{url_for('static', filename='portfolio/#1.png')}}">
                <img style="justify-content: center; align-items: center; margin: auto;" class="center true_sixteen_nine_ratio smol_padding" src="{{url_for('static', filename='portfolio/#3.png')}}">
                <img style="justify-content: center; align-items: center; margin: auto;" class="center true_sixteen_nine_ratio smol_padding" src="{{url_for('static', filename='portfolio/#5.png')}}">
                <img style="justify-content: center; align-items: center; margin: auto;" class="center true_sixteen_nine_ratio smol_padding" src="{{url_for('static', filename='portfolio/#7.png')}}">
            </div>

            <div class = "column_but_blue">
                <img style="justify-content: center; align-items: center; margin: auto;" class="center true_sixteen_nine_ratio smol_padding" src="{{url_for('static', filename='portfolio/#2.png')}}">
                <img style="justify-content: center; align-items: center; margin: auto;" class="center true_sixteen_nine_ratio smol_padding" src="{{url_for('static', filename='portfolio/#4.png')}}">
                <img style="justify-content: center; align-items: center; margin: auto;" class="center true_sixteen_nine_ratio smol_padding" src="{{url_for('static', filename='portfolio/#6.png')}}">
                <img style="justify-content: center; align-items: center; margin: auto;" class="center true_sixteen_nine_ratio smol_padding" src="{{url_for('static', filename='portfolio/#8.png')}}">
            </div>
            
        </div>
    </body>

</html>