<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>


    <body style="background-color: rgb(138, 195, 214);">

        <!--
        
        <div>
            {% include 'back_to_main_page.html' %}
            {% include 'blog/tabs_navigator.html' %}
        </div>

        -->

        <br>
        <br>


        <div class = "two_columns" >

            <div class = "column_but_blue">
                <img style="justify-content: center; align-items: center; margin: auto;" class="center true_sixteen_nine_ratio smol_padding" src="{{url_for('static', filename='portfolio/#7.png')}}">
                <br>
                <br>
                <img style="justify-content: center; align-items: center; margin: auto;" class="center true_sixteen_nine_ratio smol_padding" src="{{url_for('static', filename='portfolio/#5.png')}}">
                <br>
                <br>
                <img style="justify-content: center; align-items: center; margin: auto;" class="center true_sixteen_nine_ratio smol_padding" src="{{url_for('static', filename='portfolio/#3.png')}}">
                <br>
                <br>
                <img style="justify-content: center; align-items: center; margin: auto;" class="center true_sixteen_nine_ratio smol_padding" src="{{url_for('static', filename='portfolio/#1.png')}}">
                <br>
            </div>

            <div class = "column_but_blue">
                <img style="justify-content: center; align-items: center; margin: auto;" class="center true_sixteen_nine_ratio smol_padding" src="{{url_for('static', filename='portfolio/#8.png')}}">
                <br>
                <br>
                <img style="justify-content: center; align-items: center; margin: auto;" class="center true_sixteen_nine_ratio smol_padding" src="{{url_for('static', filename='portfolio/#6.png')}}">
                <br>
                <br>
                <img style="justify-content: center; align-items: center; margin: auto;" class="center true_sixteen_nine_ratio smol_padding" src="{{url_for('static', filename='portfolio/#4.png')}}">
                <br>
                <br>
                <img style="justify-content: center; align-items: center; margin: auto;" class="center true_sixteen_nine_ratio smol_padding" src="{{url_for('static', filename='portfolio/#2.png')}}">
                <br>
            </div>

        </div>


        <div class = "center column_but_blue">
                <img style="justify-content: center; align-items: center; margin: auto;" class="center kaeru_ratio smol_padding" src="{{url_for('static', filename='portfolio/#9.png')}}">
        </div>



    </body>

</html>