<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>



    <body>

        <div>
            {% include 'back_to_main_page.html' %}
            {% include 'blog/tabs_navigator.html' %}
        </div>

        <br>
        <br>

        <p3>
        <!-- <p3>test1</p3><p3>test2</p3> -->
        </p3>

        <p>As you may (or may not...) know, I'm an ESP/ENG translator - I translate things back and forth between Spanish and English.</p>
        <p>Here are some of the translations I have done in my free time. I hope you might find them useful :3</p><br>
        <br>
        <p3>
            &#x2022;
            <p3 class="eng">ENG</p3>
            to
            <p3 class="esp">ESP</p3>: <a href = "{{ url_for('juju_interview') }}"> Entrevista a Juju Kenobi </a>
        </p3><br>
        <p3>&#x2022;  <p3 class="esp">ESP</p3>
        to
        <p3 class="eng">ENG</p3>: (None that I've finished just yet! "^^)
        </p3><br>
        <br>
        <br>
        <p>When my games come out (Stellar Defenders and Reimu's Ribbon Adventure), I will translate them too ":3</p>

    </body>


</html>