<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>



    <body>

        <div class="sidenav">
            <a href="{{url_for('vocal_composition')}}">Wind God Girl</a>
            <a href="{{url_for('music')}}">Misc</a>
        </div>

        <div>
            {% include 'back_to_main_page.html' %}
        </div>

        <div style="justify-self: center;">
             {% include 'blog/tabs_navigator.html' %}
        </div>

        <br>
        <br>
        <br>

        <div style="justify-self: center;">


            <a class="georgia_font" style = "font-size: x-large; text-align: center;" href = "https://www.youtube.com/watch?v=uisP4EiYaTI"><b><i>Demetori - Wind God Girl</i></b></a>
            <div style="justify-self: center;">
                <a href = "https://www.zerochan.net/3771812"><img style = "width:45vh; justify-self: center;" src = "{{url_for('static', filename='audio/wind_god_girl_cover.jpg')}}"></a>
            </div>
            
            <br>

            <audio controls>
                <source src="{{url_for('static', filename='audio/vocal cover - wind god girl.ogg')}}" type="audio/ogg">
                Your browser does not support this .ogg audio element :(
            </audio>


        </div>


        <br>
        <br>
        <br>
        <br>


        <div class="two_columns_centered">

            <div>
                <pO>Up that stream,</pO><br>
                <pO>Imposters took our home and our fields.</pO><br>
                <pO>Up that stream,</pO><br>
                <pO>Godesses, humans,</pO><br>
                <pO>And many other fiends.</pO><br>
                <br>
                <br>
                <pO>Eyes like a crow,</pO><br>
                <pO>Notice the frog is about to go.</pO><br>
                <pO>Eyes like a crow,</pO><br>
                <pO>It's now or never,</pO><br>
                <pO>Prepare,</pO><br>
                <pO>We do.</pO><br>
                <br>
                <br>
                <pO>Tides stir up,</pO><br>
                <pO>Duly newcomer will join our side.</pO><br>
                <pO>Tides stir up,</pO><br>
                <pO>Reckoning day,</pO><br>
                <pO>Finale arrived.</pO><br>
                <br>
                <br>
                <pO>Now, don't shed tears,</pO><br>
                <pO>Don't ever kneel,</pO><br>
                <pO>Muster your temper,</pO><br>
                <pO>Nerves of steel.</pO><br>
                <br>
                <br>
                <pO>In the face of doom we rise,</pO><br>
                <pO>Stand proud tonight.</pO><br>
                <pO>Launch and fly!</pO><br>
                <pO>High, to the stars.</pO><br>
                <pO>Give me your hand.</pO><br>
                <pO>Brace yourself up.</pO><br>
                <pO>Buckle up.</pO><br>
                <pO>It's time,</pO><br>
                <pO>Moreya Shrine.</pO><br>
                <pO>Wind God Girl!</pO><br>
                <br>
                <br>
                <pO>Up that stream,</pO><br>
                <pO>Imposters took our home and our fields.</pO><br>
                <pO>Up that stream,</pO><br>
                <pO>Godesses, humans,</pO><br>
                <pO>And many other fiends.</pO><br>
                <br>
                <br>
                <pO>Tides stir up,</pO><br>
                <pO>Duly newcomer will join our side.</pO><br>
                <pO>Tides stir up,</pO><br>
                <pO>Reckoning day,</pO><br>
                <pO>Finale arrived.</pO><br>
                <br>
                <br>
                <pO>Now, don't shed tears,</pO><br>
                <pO>Don't ever kneel,</pO><br>
                <pO>Muster your temper,</pO><br>
                <pO>Nerves of steel.</pO><br>
                <br>
                <br>
                <pO>In the face of doom we rise,</pO><br>
                <pO>Stand proud tonight!</pO><br>
                <pO>Launch and fly!</pO><br>
                <pO>High, to the stars.</pO><br>
                <pO>Give me your hand.</pO><br>
                <pO>Brace yourself up.</pO><br>
                <pO>Buckle up.</pO><br>
                <pO>It's time,</pO><br>
                <pO>Moreya Shrine.</pO><br>
                <pO>Wind God Girl!</pO><br>
                <br>
                <i>(gutural)</i>
                <br>
                <br>
                <pO>Tides stir up,</pO><br>
                <pO>Duly newcomer will join our side.</pO><br>
                <pO>Tides stir up,</pO><br>
                <pO>Reckoning day,</pO><br>
                <pO>Finale arrived.</pO><br>
                <br>
                <br>
                <pO>Now don't shed tears,</pO><br>
                <pO>Don't ever kneel,</pO><br>
                <pO>Muster your temper,</pO><br>
                <pO>Nerves of steel.</pO><br>
                <br>
                <br>
                <pO>In the face of doom we rise,</pO><br>
                <pO>Stand proud tonight!</pO><br>
                <br>
                <br>
                <pO>Stand and fly,</pO><br>
                <pO>High, to the stars,</pO><br>
                <pO>Give me your hand.</pO><br>
                <pO>Brace yourself up.</pO><br>
                <pO>In the face of doom we rise,</pO><br>
                <pO>Fighting for glimmers of peacefulness tonight!</pO><br>
                <br>
                <br>
                <pO>Stand and fly,</pO><br>
                <pO>High, to the stars.</pO><br>
                <pO>Give me your hand.</pO><br>
                <pO>Brace yourself up.</pO><br>
                <pO>Buckle up.</pO><br>
                <pO>It's time,</pO><br>
                <pO>Moreya Shrine.</pO><br>
                <pO>Here we come.</pO><br>
                <br>
                <br>
                <pO>Stand and fly,</pO><br>
                <pO>High, to the stars.</pO><br>
                <pO>Give me your hand.</pO><br>
                <pO>Brace yourself up.</pO><br>
                <pO>In the face of doom we rise,</pO><br>
                <pO>Fighting for glimmers of peacefulness tonight!</pO><br>
                <br>
                <br>
                <pO>Stand and fly,</pO><br>
                <pO>High, to the stars.</pO><br>
                <pO>Give me your hand.</pO><br>
                <pO>Brace yourself up.</pO><br>
                <pO>Buckle up.</pO><br>
                <pO>Here we come,</pO><br>
                <pO>Moreya Shrine.</pO><br>
                <pO>Wind God Girl!!!</pO><br>
            </div>

            <div>
                <pT>Subiendo ese arroyo,</pT><br>
                <pT>Los impostores tomaron nuestro hogar y tierras.</pT><br>
                <pT>Subiendo ese arroyo,</pT><br>
                <pT>Diosas, humanos</pT><br>
                <pT>Y muchas otras fieras.</pT><br>
                <br><br>
                <pT>Ojos de halcón,</pT><br>
                <pT>Date cuenta de que el sapo se fue.</pT><br>
                <pT>Ojos de halcón,</pT><br>
                <pT>Es ahora o nunca,</pT><br>
                <pT>Nos preparamos.</pT><br>
                <pT></pT><br><br><br>
                
                <pT>Las olas se revuelcan,</pT><br>
                <pT>La nueva amiga responsable se presta,</pT><br>
                <pT>Las olas se revuelcan,</pT><br>
                <pT>El día del juicio,</pT><br>
                <pT>El final llegó.</pT><br>
                <br><br>
                <pT>No derrames lágrimas,</pT><br>
                <pT>Nunca te arrodilles,</pT><br>
                <pT>Junta tu temple,</pT><br>
                <pT>Nervios de acero.</pT><br><br><br>

                <pT>En la cara del peligro nos alzamos.</pT><br>
                <pT>Yérguete orgullosa esta noche,</pT><br>
                <pT>Levántate y vuela!</pT><br>
                <pT>Alto, hasta las estrellas,</pT><br>
                <pT>Dame tu mano,</pT><br>
                <pT>Preparaté,</pT><br>
                <pT>Alistaté,</pT><br>
                <pT>Llegó la hora,</pT><br>
                <pT>Santuario Moreya,</pT><br>
                <pT>Diosa de los Vientos!</pT><br><br><br>

                <pT>Subiendo ese arroyo,</pT><br>
                <pT>Los impostores tomaron nuestro hogar y tierras.</pT><br>
                <pT>Subiendo ese arroyo,</pT><br>
                <pT>Diosas, humanos</pT><br>
                <pT>Y muchas otras fieras.</pT><br>
                <br><br>
                <pT>Las olas se revuelcan,</pT><br>
                <pT>La nueva amiga responsable se presta,</pT><br>
                <pT>Las olas se revuelcan,</pT><br>
                <pT>El día del juicio,</pT><br>
                <pT>El final llegó.</pT><br>
                <br><br>
                <pT>No derrames lágrimas,</pT><br>
                <pT>Nunca te arrodilles,</pT><br>
                <pT>Junta tu temple,</pT><br>
                <pT>Nervios de acero.</pT><br><br><br>

                <pT>En la cara del peligro nos alzamos.</pT><br>
                <pT>Yérguete orgullosa esta noche,</pT><br>
                <pT>Levántate y vuela!</pT><br>
                <pT>Alto, hasta las estrellas,</pT><br>
                <pT>Dame tu mano,</pT><br>
                <pT>Preparaté,</pT><br>
                <pT>Alistaté,</pT><br>
                <pT>Llegó la hora,</pT><br>
                <pT>Santuario Moreya,</pT><br>
                <pT>Diosa de los Vientos!</pT><br><br>

                <i>(gutural)</i><br><br>

                <pT>Las olas se revuelcan,</pT><br>
                <pT>La nueva amiga responsable se presta,</pT><br>
                <pT>Las olas se revuelcan,</pT><br>
                <pT>El día del juicio,</pT><br>
                <pT>El final llegó.</pT><br><br><br>
                
                <pT>No derrames lágrimas,</pT><br>
                <pT>Nunca te arrodilles,</pT><br>
                <pT>Junta tu temple,</pT><br>
                <pT>Nervios de acero.</pT><br><br><br>
                
                <pT>En la cara del peligro nos alzamos.</pT><br>
                <pT>Yérguete orgullosa esta noche.</pT><br><br><br>
                
                <pT>Levántate y vuela!</pT><br>
                <pT>Alto, hasta las estrellas,</pT><br>
                <pT>Dame tu mano,</pT><br>
                <pT>Preparaté,</pT><br>
                <pT>En la cara del peligro nos alzamos,</pT><br>
                <pT>Luchando por destellos de tranquilidad esta noche!</pT><br><br><br>
                
                <pT>Levántate y vuela!</pT><br>
                <pT>Alto, hasta las estrellas,</pT><br>
                <pT>Dame tu mano,</pT><br>
                <pT>Preparaté,</pT><br>
                <pT>Alistaté,</pT><br>
                <pT>Llegó la hora,</pT><br>
                <pT>Santuario Moreya,</pT><br>
                <pT>Allá vamos.</pT><br><br><br>
                
                <pT>Levántate y vuela!</pT><br>
                <pT>Alto, hasta las estrellas,</pT><br>
                <pT>Dame tu mano,</pT><br>
                <pT>Preparaté,</pT><br>
                <pT>En la cara del peligro nos alzamos,</pT><br>
                <pT>Luchando por atisbos de tranquilidad esta noche!</pT><br><br><br>
                
                <pT>Levántate y vuela!</pT><br>
                <pT>Alto, hasta las estrellas,</pT><br>
                <pT>Dame tu mano,</pT><br>
                <pT>Preparaté,</pT><br>
                <pT>Alistaté,</pT><br>
                <pT>Llegó la hora,</pT><br>
                <pT>Santuario Moreya,</pT><br>
                <pT>Diosa de los Vientos!!!</pT><br>

            </div>

        </div>


    </body>
</html>