<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>



    <body>

        <div class="sidenav">
            <a href="{{url_for('vocal_composition')}}">Wind God Girl</a>
            <a href="{{url_for('music')}}">Misc</a>
        </div>

        <div>
            {% include 'back_to_main_page.html' %}
        </div>

        <div style="justify-self: center;">
             {% include 'blog/tabs_navigator.html' %}
        </div>

        <br>
        <br>

        <div>

        <img style="width:400px;" src = "{{url_for('static', filename='audio/wind_god_girl_cover.ogg')}}"> </a>

        </div>

        <div class="two_columns_centered">

            <div>
                Up that stream,
                Imposters took our home and our fields.
                Up that stream,
                Godesses, humans,
                And many other fiends.

                Eyes like a crow
                Notice the frog is about to go
                Eyes like a crow
                It's now or never,
                Prepare,
                We do.

                Tides stir up,
                Duly newcomer will join our side.
                Tides stir up,
                Reckoning day,
                Finale arrived.

                Now, don't shed tears,
                Don't ever kneel,
                Muster your temper,
                Nerves of steel.

                In the face of doom we rise,
                Stand proud tonight.
                Launch and fly!
                High, to the stars,
                Give me your hand,
                Brace yourself up,
                Buckle up.
                It's time,
                Moreya Shrine.
                Wind God Girl!

                Up that stream,
                Imposters took our home and our fields.
                Up that stream,
                Godesses, humans,
                And many other fiends.

                Tides stir up,
                Duly newcomer will join our side.
                Tides stir up,
                Reckoning day,
                Finale arrived.

                Now, don't shed tears,
                Don't ever kneel,
                Muster your temper,
                Nerves of steel.

                In the face of doom we rise,
                Stand proud tonight!
                Launch and fly,
                High, to the stars,
                Give me your hand,
                Brace yourself up,
                Buckle up.
                It's time,
                Moreya Shrine.
                Wind God Girl!

                (gutural)

                Tides stir up,
                Duly newcomer will join our side.
                Tides stir up,
                Reckoning day,
                Finale arrived.

                (deep) Now don't shed tears,
                Don't ever kneel,
                Muster your temper,
                Nerves of steel.

                In the face of doom we rise,
                Stand proud tonight!

                Stand and fly,
                High, to the stars,
                Give me your hand,
                Brace yourself up,
                In the face of doom we rise,
                Fighting for glimmers of peacefulness tonight!

                Stand and fly,
                High, to the stars,
                Give me your hand,
                Brace yourself up,
                Buckle up.
                It's time,
                Moreya Shrine.
                Here we come.

                Stand and fly,
                High, to the stars,
                Give me your hand,
                Brace yourself up,
                In the face of doom we rise,
                Fighting for glimmers of peacefulness tonight!

                Stand and fly,
                High, to the stars,
                Give me your hand,
                Brace yourself up,
                Buckle up.
                Here we come,
                Moreya Shrine.
                Wind God Girl!!!
            </div>

            <div>
                Subiendo ese arroyo,
                Los impostores tomaron nuestro hogar y tierras.
                Subiendo ese arroyo,
                Diosas, humanos
                Y muchas otras fieras.

                Ojos de halcón,
                Date cuenta de que el sapo se fue
                Ojos de halcón,
                Es ahora o nunca,
                Nos preparamos.

                Las olas se revuelcan,
                La nueva amiga responsable se presta,
                Las olas se revuelcan,
                El día del juicio,
                El final llegó.

                No derrames lágrimas,
                Nunca te arrodilles,
                Junta tu temple,
                Nervios de acero.

                oooooooOOOOOOEEEEEAAAAAAAAAAbleah

                Las olas se revuelcan,
                La nueva amiga responsable se presta,
                Las olas se revuelcan,
                El día del juicio,
                El final llegó.

                No derrames lágrimas,
                Nunca te arrodilles,
                Junta tu temple,
                Nervios de acero.

                Levántate y vuela!
                Alto, hasta las estrellas,
                Dame tu mano,
                Preparaté,
                En la cara del peligro nos levantamos,
                Luchando por destellos de tranquilidad esta noche!

                Levántate y vuela!
                Alto, hasta las estrellas,
                Dame tu mano,
                Preparaté,
                Alistaté,
                Llegó la hora,
                Santuario Moreya,
                Allá vamos.

                Levántate y vuela!
                Alto, hasta las estrellas,
                Dame tu mano,
                Preparaté,
                En la cara del peligro nos levantamos,
                Luchando por atisbos de tranquilidad esta noche!

                Levántate y vuela!
                Alto, hasta las estrellas,
                Dame tu mano,
                Preparaté,
                Alistaté,
                Llegó la hora,
                Santuario Moreya,
                Diosa de los Vientos!!!
            </div>

        </div>


    </body>
</html>