<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>


    <body>

        <div>
            {% include 'back_to_main_page.html' %}
            {% include 'blog/tabs_navigator.html' %}
        </div>

        <br>
        <br>

        Translator's comments: <br> <br>
        I have always been a huge fan of Juju Kenobi - his DDPDOJ superplays and tutorials have always fascinated me ^-^ <br>
        Even if I know I'll never be a superplayer like him, it's inspiring nonetheless (ha). <br>
        If you are inspired in improving your shmup skills, just like I am, this article is for you :3 <br> <br>
        ~ SUPERNOOB20 <br>
        <br>
        <br>
        <br>
        <br>

        <h1 style="color: black;"> Artículo - Cómo estudiar shmups, analizar superplays, y crear rutas eficientes</h1>
        <p style="color: rgb(159, 159, 159); size: 12px;"> 18 de Octubre del 2021</p>
        <p><b>Una guía para el juego de alto nivel, hecha por Juju Kenobi (shmup superplayer)</b></p>
        <p><i>(Editada y localizada al inglés por Mark MSX).</i></p>
        <p><i>(Editada y localizada al español por SUPERNOOB20).</i></p>

        <br>
        <br>

        <p class = "humble_header"> Prólogo de Mark: </p>

        <p>Después de colaborar con Juju en su artículo para la página web de Shmup Spotlight y de digerir varios aspectos del artículo para intentar incorporarlos a mis propias runs (especialmente considerando mi continua frustración con mis intentos de Dodonpachi 2-ALL), terminé queriendo saber más sobre las peculiaridades de cómo hace para aprenderse un juego tan estricto como lo es Dodonpachi Daioujou.</p><br>
        <p>Como soy un tipo insistente, le pregunté a Juju si le interesaría hacer un secuela sobre sus formas específicas de aprendizaje y, como el chabón es un tipazo, dijo que sí y acá está su secuela.</p><br>
        <p>De verdad pienso que tiene consejos muy útiles para jugadores que quieran empujarse más lejos a sí mismos, aprender más rápido y jugar más eficientemente.</p><br>
        <p></p><br>
        <p></p><br>

        <p class = "humble_header"> Introducción: </p>

        <p>Para comenzar, me gustaría decir que esta no es una rutina que insisto que todos tengan que seguir a la hora de practicar, pero ya que Mark me pidió detalles trataré de describir, lo mejor que pueda, cómo <span style = "color: rgb(150,150,150)" title = 'Nota de la traductora: En el dialecto argentino, en un registro informal, esto es completamente válido. \n En otros casos, sin embargo, quizás se prefiera mantener el tiempo verbal: "he estado".'><u><i>estuve</i></u></span> disfrutando shmups durante el año pasado.</p><br>
        <p>Esta redacción cubrirá principalmente mi proceso de aprendizaje/práctica en Dodonpachi Daioujou Black Label y un poquitín de mi aprendizaje en Ketsui. Estos son ejemplos de juegos donde apunto al mayor puntaje posible. Habiendo dicho eso, de ninguna forma pienso que todo el mundo debería jugar y disfrutar de los shmups de la misma manera que yo. Simplemente trataré de presentar una descripción honesta y precisa de mi manera de hacer las cosas.</p><br>
        <p>Hay diversos motivos por los que querrías empezar a enfocarte en la puntuación en un shmup: capaz es porque te re gusta y querés aprender más sobre él, capaz sea por una (amistosa) competencia, o quizás simplemente te gusta sacar puntajes altos.</p><br>
        <p>No me detendré mucho a explicar por qué jugar un shmup centrandosé en el puntaje es realmente interesante. Prometheus ya <span style = "color: rgb(150,150,150)" title = 'Nota de la traductora: En el dialecto argentino, en un registro informal, esto es completamente válido. \n En otros casos, sin embargo, quizás se prefiera mantener el tiempo verbal: "ha escrito".'><u><i>escribió</i></u></span> un montón en su guía "Full Extent of the Jam"</p><br>
        <p><span style = "color: rgb(150,150,150)"><i>*Nota de Mark: Full Extent of the Jam fue una gran influencia cuando me adentré en los shmups, así que definitivamente les recomiendo leerlo. Por favor, echenlé un vistazo; insertaré un vínculo hacia él al final de este artículo. También pondré un vínculo hacia mi entrevista con Prometheus sobre esta misma guía.*</i></span></p><br>
        <br>
        <p>Solo diré que, en algunos juegos, ignorar el puntaje te hará perderte de una buena parte de lo que el juego tiene para ofrecer. Por ejemplo, encadenar combos en Dodonpachi Daioujou realmente le da al juego un gran ritmo y flujo, y es ese sistema de puntuación el que hace que los primeros niveles nunca se me hagan aburridos o tediosos.</p><br>
        <p></p><br>
        <p></p><br>
        <p></p><br>


        <p class = "humble_header"> Parte 1: Cómo arrancar</p>

        <figure>
            <img src="https://www.reddit.com/media?url=https%3A%2F%2Fpreview.redd.it%2Ffdtv90oix3m71.png%3Fwidth%3D725%26format%3Dpng%26auto%3Dwebp%26s%3D120d0635d8ee9cda288693444edea6b73aa65c0a" alt="Trulli" style="width:100%">
            <figcaption>Las notas manuscritas de Juju sobre la ruta de Ketsui.</figcaption>
        </figure>

        <p>Seguía así y así hasta terminar de aprender un nivel, antes del boss. Cuando llegaba a ese punto, empezaba a hacer intentos de todo el nivel sin fallos demasiado grandes. En el caso de Dodonpachi Daioujou, esto significaba no perder el combo, no morir, y agarrar todos los hypers. Generalmente, a la hora de intentar hacer varias secciones seguidas de corrido, te van a surgir otros obstáculos... algunos problemas pequeños. A veces, tu ejecución entre sección y sección es un poco caótica, o a veces te malacostumbrás a los savestates y se convierten en un mal hábito.</p><br>
        <p>Sin embargo, si te lleva más de 10 intentos, probablemente sea porque necesitás replantear tu estrategia y aprenderte mejor algunas de las secciones primero.</p><br>
        <p>Para mí, la pelea contra el boss era la recompensa de haberme aprendido todo el nivel. Las peleas contra los jefes normalmente se enfocan menos en la ejecución y más en esquivar, aspecto con el cual estoy más familiarizado gracias a Touhou. Los jefes también son un buen descanso del proceso de aprendizaje del nivel.</p><br>
        <p>Con los jefes necesitás experimentar mucho. Deberías tratar de determinar cuáles patrones son estáticos, cuáles podés manipular, y cuáles son aleatorios. Si algo es super difícil, podés ver superplays e intentar determinar si cada pequeño movimiento del jugador tiene alguna razón de ser. Te sorprendería lo mucho que podés descubrir una vez que estás familiarizado con el juego.</p><br>
        <p>Cuando por fin me daba por satisfecho con mi conocimiento sobre un nivel y su jefe pasaba al siguiente nivel, y así. De verdad que me encanta este período específico de la práctica porque estás aprendiendo un montón, y sentís que estás constantemente mejorando en el juego. Todo es nuevo y todo se siente fresco. Te da sus frutos ser activo e intentar entender todo lo que puedas.</p><br>
        <p>Aún no es momento de empezar a grindear.</p><br>

        <p class = "humble_header"> Parte 2: Grindeo y consistencia</p>

        <p>Felicidades, alcanzaste</p><br>
        <p></p><br>
        <p></p><br>
        <p></p><br>
        <p></p><br>
        <p></p><br>
    </body>
</html>