<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>


    <body>

        <div>
            {% include 'back_to_main_page.html' %}
            {% include 'blog/tabs_navigator.html' %}
        </div>

        <br>
        <br>

        Translator's comments: <br> <br>
        I have always been a huge fan of Juju Kenobi - his DDPDOJ superplays and tutorials have always fascinated me ^-^ <br>
        Even if I know I'll never be a superplayer like him, it's inspiring nonetheless (ha). <br>
        If you are inspired in improving your shmup skills, just like I am, this article is for you :3 <br> <br>
        ~ SUPERNOOB20 <br>
        <br>
        <br>
        <br>
        <br>

        <h1 style="color: black;"> Artículo - Cómo estudiar shmups, analizar superplays, y crear rutas eficientes</h1>
        <p style="color: rgb(159, 159, 159); size: 12px;"> 18 de Octubre del 2021</p>
        <p><b>Una guía para el juego de alto nivel, hecha por Juju Kenobi (shmup superplayer)</b></p>
        <p><i>(Editada y localizada al inglés por Mark MSX).</i></p>
        <p><i>(Editada y localizada al español por SUPERNOOB20).</i></p>

        <br>
        <br>

        <p class = "humble_header"> Prólogo de Mark: </p>

        <p>Después de colaborar con Juju en su artículo para la página web de Shmup Spotlight y de digerir varios aspectos del artículo para intentar incorporarlos a mis propias runs (especialmente considerando mi continua frustración con mis intentos de Dodonpachi 2-ALL), terminé queriendo saber más sobre las peculiaridades de cómo hace para aprenderse un juego tan estricto como lo es Dodonpachi Daioujou.</p><br>
        <p>Como soy un tipo insistente, le pregunté a Juju si le interesaría hacer un secuela sobre sus formas específicas de aprendizaje y, como el chabón es un tipazo, dijo que sí y acá está su secuela.</p><br>
        <p>De verdad pienso que tiene consejos muy útiles para jugadores que quieran empujarse más lejos a sí mismos, aprender más rápido y jugar más eficientemente.</p><br>
        <p></p><br>
        <p></p><br>
        <p></p><br>
        <p></p><br>

        <p class = "humble_header"> Introducción: </p>


    </body>
</html>