<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>


    <body>

        <div>
            {% include 'back_to_main_page.html' %}
            {% include 'blog/tabs_navigator.html' %}
        </div>

        <br>
        <br>

        Translator's comments: <br> <br>
        I love this song! But it was really hard for me to transcribe! I tried my absolute best, paying some sections up to tens and tens of listens. Some things might potentially not be that accurate...! If that's the case, I'm really sorry! There's even one bit by the end of the lyrics that I couldn't understand at all...<br>
        Feel free to contact me if you find any corrections to be made, and I'll credit you here right away! :)
        <br>
        <br>
        ~ SUPERNOOB20 <br>
        <br>
        <br>
        <br>

        <div style="text-align: center; justify-content: center; align-items: center;">
            <h1 style="color: black;"> Esculpidos por el Sol - <b>Siervos</b></h1>

            <div class="two_columns_centered">
                <div>
                    
                    <a title = "Official album cover! :3"><img style = "width:45vh; justify-self: center;" src = "{{url_for('static', filename='arido_official_cover.jpg')}}"></a>
                    
                </div>
                <div>
                    <a title = "My own artwork! :3"><img style = "width:80vh; justify-self: center;" src = "{{url_for('static', filename='siervos_my_artwork.png')}}"></a>
                </div>
            </div>

            <p><i>(Del álbum <a href="https://www.youtube.com/watch?v=kWG-R7kQJA4"><b>Árido</b></a>).</i></p>
            <p><i>(Transcripta y localizada al inglés por SUPERNOOB20).</i></p>


            <br>


            <br>

            <audio controls>
                <source src="{{url_for('static', filename='audio/siervos.mp3')}}" type="audio/mp3">
                Your browser does not support this .mp3 audio file :(
            </audio>


        </div>

        <br>
        <br>
        <br>
        <br>

        <div class="two_columns_centered">

            <div>

                <pO_2>Sentado,</pO_2><br>
                <pO_2><u>en las tinieblas</u></pO_2>*<br>
                <pO_2>avanza.</pO_2><br><br><br>

                <pO_2>Camina,</pO_2><br>
                <pO_2>en grupo</pO_2><br>
                <pO_2>a la perdición.</pO_2><br><br>

                *solo corto*<br><br>

                <pO_2>Atrapado,</pO_2><br>
                <pO_2>el de oro</pO_2><br>
                <pO_2>descansa.</pO_2><br><br><br>

                <pO_2>En su trono yace el hambre de sus siervos,</pO_2><br>
                <pO_2>bajo control.</pO_2><br><br>

                <pO_2>No existe moral en sus ojos,</pO_2><br>
                <pO_2>solo ambición.</pO_2><br><br>

                <pO_2>Arrodillado, pasa sus dias</pO_2><br>
                <pO_2>en su <u>inversion</u>**.</pO_2><br><br><br>


                <pO_2>Mastica el cuerpo de tu dios</pO_2><br>
                <pO_2>(¡Mastica el cuerpo de tu dios!).</pO_2><br><br>

                <pO_2>Yo proclamo [que]</pO_2><br>
                <pO_2>tus pueblos serán eliminados.</pO_2><br><br>

                <pO_2>Golpea tu pecho con una piedra</pO_2><br>
                <pO_2>(¡Golpea tu pecho con una piedra!).</pO_2><br><br>


                <pO_2>¡Mañana</pO_2><br>
                <pO_2>volverás</pO_2><br>
                <pO_2>a los viñedos!</pO_2><br><br>

                *solo largo*<br><br>

                <pO_2>abruptada humillada...</pO_2><br>

                <pO_2>Conspiración por imposición...</pO_2><br>
                <pO_2>el fin de la historia.</pO_2><br>
                <pO_2>Y ya se acerca...</pO_2><br>
                <pO_2>el nuevo orden...</pO_2><br>
                <pO_2>de los tiempos...</pO_2><br>
                <pO_2>¡¡¡él dio la sangre a sus</pO_2><br>
                <pO_2>perversiones!!!</pO_2><br><br><br>

                <pO_2>Sobre los trece peldaños</pO_2><br>
                <pO_2><u>Cuzco</u>*** conserva todo</pO_2><br>

                <pO_2>El oscuro arquitecto...</pO_2><br>
                <pO_2>a todo el cielo nuestro apresa.</pO_2><br><br><br>

                <pO_2>Bajo el viento acechan</pO_2><br>
                <pO_2>vasallos de la bestia...</pO_2><br>
                <pO_2>totalmente dominados...</pO_2><br>
                <pO_2>¡por un falso profeta!</pO_2><br><br><br>

                ¿?<br>
                <pO_2>el fuego crece,</pO_2><br>
                <pO_2>en su conocimiento no eres quién.</pO_2><br>
                <pO_2>¡Entre el misterio se encuentra</pO_2><br>
                <pO_2>la verdad!</pO_2><br><br><br>
            </div>

            <div>
                <pT_2>Sat down,</pT_2><br>
                <pT_2><u>in obscurity</u></pT_2>*<br>
                <pT_2>he moves forward.</pT_2><br><br><br>

                <pT_2>Grouped up,</pT_2><br>
                <pT_2>walking</pT_2><br>
                <pT_2>to their demise.</pT_2><br><br>

                *short solo*<br><br>

                <pT_2>Locked away,</pT_2><br>
                <pT_2>the golden one</pT_2><br>
                <pT_2>rests.</pT_2><br><br><br>

                
                <pT_2>On his throne lies the hunger of his vassals,</pT_2><br>
                <pT_2>under control.</pT_2><br><br>

                <pT_2>There is no moral in his eyes,</pT_2><br>
                <pT_2>just ambition.</pT_2><br><br>

                <pT_2>Knelt down, he spends his days</pT_2><br>
                <pT_2>in his own <u>inversion</u>**.</pT_2><br><br><br>


                <pT_2>Chew the flesh of your own god!</pT_2><br>
                <pT_2>(Chew the flesh of your own god!).</pT_2><br><br>

                <pT_2>I proclaim [that]</pT_2><br>
                <pT_2>your villages shall be eliminated.</pT_2><br><br>

                <pT_2>Strike your chest with a rock!</pT_2><br>
                <pT_2>(Strike your chest with a rock!).</pT_2><br><br>


                <pT_2>Tomorrow,</pT_2><br>
                <pT_2>you shall return</pT_2><br>
                <pT_2>to the vineyards!</pT_2><br><br>

                *long solo*<br><br>

                <pT_2>Abrupt humilliation...</pT_2><br>
                <pT_2>Forceful conspiracy...</pT_2><br>
                <pT_2>the end of the world.</pT_2><br>
                <pT_2>The new order...</pT_2><br>
                <pT_2>is incoming.</pT_2><br>
                <pT_2></pT_2><br>
                <pT_2>He gave in his blood to his</pT_2><br>
                <pT_2>own perversions!!!</pT_2><br><br><br>

                <pT_2>Over the thirteen steps,</pT_2><br>
                <pT_2><u>Cuzco</u>*** keeps it all.</pT_2><br>

                <pT_2>The dark architect...</pT_2><br>
                <pT_2>our whole sky grasps.</pT_2><br><br><br>

                <pT_2>Under the sky [they] crawl,</pT_2><br>
                <pT_2>vassals of the beast...</pT_2><br>
                <pT_2>utterly dominated...</pT_2><br>
                <pT_2>¡by a false prophet!</pT_2><br><br><br>

                ?<br>
                <pT_2>the fire spreads,</pT_2><br>
                <pT_2>to his knowledge you are a nobody.</pT_2><br>
                <pT_2>Within the mystery</pT_2><br>
                <pT_2>the truth lies!</pT_2><br><br><br>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        * <i>No estoy muy segura de si en está línea la canción dice "en las tinieblas" o "en yacimiento" (entendido como conjugado de "yacer").</i><br>
        * <i>Not too sure whether this bit is "in obscurity" or "in stillness".</i><br>

        <br>

        ** <i>Corrupción, perversión.</i><br>
        ** <i>As in "corruption" or "perversion".</i><br>

        <br>

        *** <i>No estoy muy segura de dice eso la canción, pero lo dejé así por las dudas. Aún así, cabe recalcar que hay múltiples acepciones para la palabra "Cuzco": Cusco, Qusqu y Qosqo.</i><br>
        *** <i>Not too sure if that's what the song says here, but it's better than nothing. Also note that there are multiple acceptions for "Cuzco": Cusco, Qusqu and Qosqo.</i>

    </body>
</html>