<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>SUPERNOOB Studios</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>


    <body>

        <div>
            {% include 'back_to_main_page.html' %}
            {% include 'blog/tabs_navigator.html' %}
        </div>

        <br>
        <br>

        Translator's comments: <br> <br>
        I love this song! But it was really hard for me to transcribe! I tried my absolute best, paying some sections up to tens and tens of listens. Some things might potentially not be that accurate...! If that's the case, I'm really sorry! Feel free to contact me if you find any corrections to be made, and I'll credit you here right away! :)
        <br>
        <br>
        ~ SUPERNOOB20 <br>
        <br>
        <br>
        <br>

        <div style="text-align: center; justify-content: center; align-items: center;">
            <h1 style="color: black;"> Esculpidos por el Sol - <b>Siervos</b></h1>

            <div class="two_columns_centered">
                <div>
                    a
                </div>
                <div>
                    b
                </div>
            </div>

            <p><i>(Del álbum <a href="https://www.youtube.com/watch?v=kWG-R7kQJA4"><b>Árido</b></a>).</i></p>
            <p><i>(Transcripta y localizada al inglés por SUPERNOOB20).</i></p>
        </div>

        <br>
        <br>

        <div class="two_columns_centered">

            <div>

                <pO_2>Sentado,</pO_2><br>
                <pO_2>en las tinieblas</pO_2>*<br>
                <pO_2>avanza.</pO_2><br>

                <pO_2>Atrapado,</pO_2><br>
                <pO_2>el de oro</pO_2><br>
                <pO_2>descansa.</pO_2><br>

                <pO_2>En su trono yace el hambre de sus siervos.</pO_2><br>
                <pO_2>bajo control</pO_2><br>


                <pO_2>no existe moral en sus ojos</pO_2><br>
                <pO_2>solo ambición</pO_2><br>


                <pO_2>arrodillado pasa sus dias</pO_2><br>


                <pO_2>Mastica el cuerpo de tu dios.</pO_2><br>
                <pO_2>(¡Mastica el cuerpo de tu dios!)</pO_2><br>


                <pO_2>Golpea tu pecho con una piedra.</pO_2><br>
                <pO_2>(¡Golpea tu pecho con una piedra!)</pO_2><br>


                <pO_2>¡Mañana</pO_2><br>
                <pO_2>volverás</pO_2><br>
                <pO_2>a los viñedos!</pO_2><br>


                <pO_2>Conspiración por imposición...</pO_2><br>
                <pO_2>el fin de la historia...</pO_2><br>
                <pO_2>y ya se acerca...</pO_2><br>
                <pO_2>el nuevo orden...</pO_2><br>
                <pO_2>de los tiempos...</pO_2><br>
                <pO_2>¡¡¡él dio la sangre a sus</pO_2><br>
                <pO_2>perversiones!!!</pO_2><br>

                <pO_2>sobre los 13 peldaños</pO_2><br>
                <pO_2>? conserva todo</pO_2><br>

                <pO_2>El oscuro arquitecto...</pO_2><br>
                <pO_2>a todo el cielo nuestro apresa.</pO_2><br>

                <pO_2>Bajo el viento acechan</pO_2><br>
                <pO_2>vasallos de la bestia...</pO_2><br>
                <pO_2>totalmente dominados...</pO_2><br>
                <pO_2>¡por un falso profeta!</pO_2><br>

                <pO_2>crece,</pO_2><br>
                <pO_2>en su no eres quieran.</pO_2><br>
                <pO_2>¡Entre el misterio se encuentra</pO_2><br>
                <pO_2>la verdad!</pO_2><br>
            </div>

            <div>
                <pT_2>Locked away,</pT_2><br>
                <pT_2>the golden one</pT_2><br>
                <pT_2>rests.</pT_2><br>

                <pT_2>The dark architect...</pT_2><br>
                <pT_2>our whole sky grasps.</pT_2><br>

                <pT_2>Under the sky [they] crawl,</pT_2><br>
                <pT_2>vassals of the beast...</pT_2><br>
                <pT_2>utterly dominated...</pT_2><br>
                <pT_2>¡by a false prophet!</pT_2><br>
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        * <i>No estoy muy segura de si en está línea la canción dice "en las tinieblas" o "en yacimiento" (entendido como conjugado de "yacer").</i><br>
        * <i>Not too sure whether this bit is "in obscurity" or "in stillness".</i>
    </body>
</html>